.addNewTask-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addNewTask-container > h3 {
    color: #6b537a;
    letter-spacing: .3px;
    text-align: center;
}

.addnew-emoji {
    width: 30px;
    height: 30px;
    filter: invert(37%) sepia(20%) saturate(798%) hue-rotate(233deg) brightness(87%) contrast(88%);
}