.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-container > h3 {
    color: #6b537a;
    font-weight: bold;
    text-align: center;
    letter-spacing: .3px;
}

.empty-emoji {
    width: 30px;
    height: 30px;
    filter: invert(37%) sepia(20%) saturate(798%) hue-rotate(233deg) brightness(87%) contrast(88%);
}