.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar__title {
    letter-spacing: .8px;
}

.top-bar__image-container {
    height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleIcon {
    width: 32px;
    height: 32px;
    filter: invert(99%) sepia(4%) saturate(117%) hue-rotate(40deg) brightness(115%) contrast(89%);
}