.taskContainer {
    min-width: 330px;
    height: 60px;
    padding: 10px 0;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    display: flex;
}

.taskContent__left, .taskContent__right {
    width: 25%;
}

.taskContent__middle {
    width: 50%;
}

.taskContent__left, .taskContent__middle, .taskContent__right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkButton, .deleteButton {
    border: none;
    cursor: pointer;
}

.taskDescription {
    align-self: center;
}

.checkButton {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #03C988;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #EB455F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toComplete {
    box-shadow: 0 0 3px 0px #00000080;
}

.completed {
    box-shadow: inset 0 0 3px 0px #00000080;
    color: #ffffff80;
}

.checkButton__icon, .deleteButton__icon {
    filter: invert(99%) sepia(4%) saturate(117%) hue-rotate(40deg) brightness(115%) contrast(89%);
}