.addTask-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addTask-form > label {
    margin-bottom: 5px;
}

.addTask-form__btn-area {
    width: 250px;
    display: inherit;
    justify-content: space-around;
}

.addTask-form__btn-area > button {
    margin-bottom: 10px;
}

#textInput {
    width: 85%;
    max-width: 400px;
    height: 125px;
    margin-bottom: 16px;
    border-radius: 1px;
}

#textInput:focus {
    outline: 1px solid #fff;
}

.addTask-form__btn-cancel, .addTask-form__btn-add {
    width: 70px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #F1F1F1;
    cursor: pointer;
}

.addTask-form__btn-add {
    background-color: #03C988;
}

.addTask-form__btn-cancel {
    background-color: #EB455F;
}